// Colorscheme {{{

// $bar-background: white;

// }}}

// General {{{

window {
	background-color: transparent;
}

.bar {
	font-family: SF Compact rounded;
	font-weight: 600;
	font-size: 12px;
	color: #ebdbb2;
	background-color: #282828;
	margin: 8px;
	border-radius: 0px;
	border: 2px solid #665c54;
	// box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

.cell {
	all: unset;
	background-color: #3c3836;
	border-radius: 1px;
	font-size: 12px;
	padding: 0 8px 0;
	// box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	// border: 1px solid rgba(0, 0, 0, 0.3);
}
// }}}

// Spaces {{{

.spaces {
	// background-color: red;
}

.space {
	@extend .cell;
	margin-right: 2px;
}

.visible-space {
	@extend .space;
	color: #282828;
	background-color: #d79921;
}

.space:active {
	background-color: #504945;
	margin: 1px;
	padding: 0 7px 0;
	font-size: 11px;
}

// }}}

// Active window {{{

.active-window {

	// text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

// }}}

// Data {{{
.data-cell {
	@extend .cell;
}

.clock, .download, .test-box {
	@extend .data-cell;
}

// }}}
