{
 :main [
  {:des "G600"
   :rules [
          [ { :pkey :button9 }  :!Tup_arrow ]
          [ { :pkey :button10 } :!Tleft_arrow ]
          [ { :pkey :button11 }  :!Tright_arrow ]
          [ { :pkey :button12 }  :!Cw ]
          [ { :pkey :button13 }  :!Ttab ]
          [ { :pkey :button14 }  :!TStab ]
          [ { :pkey :button16 }  :!Cleft_arrow ]
          [ { :pkey :button17 }  :!Cright_arrow ]
          [ [{ :pkey :button10 } {:pkey :button9}]  :!Cleft_arrow ]
          [ [{ :pkey :button10 } {:pkey :button11}]  :!Cright_arrow ]
          ]}
  ]}
